<h1>Welcome, <%= @user.username %>!</h1>

<p>Finally, you've become a member of the greatest website ever to exist. Let your worries disappear.</p>

<p>And while you're at it, check out <%= link_to "Your profile", user_url(@user.id) %></p>
