<h1>Welcome <%= @user.username %> !</h1>

<p>Thanks for joining us in this incredible journey</p>

<p>You can view your account here : <%= link_to "See my profile", user_url(@user.id) %></p>

<p>We will see you soon!</p>