# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 0a7cc7d25ebaa727d90cf550963b02928a97e5093da2171a46dcc1787ebe1aae7e12f306ddca3bb6d63d179e7575e29d3ca57cc66e89779f11523dac7b9fcee4
  s3_bucket_name: <%= ENV["S3_BUCKET"] %>
  aws_access_key_id: <%= ENV["S3_ACCESS_ID"] %>
  aws_secret_access_key: <%= ENV["S3_ACCESS_KEY"] %>


test:
  secret_key_base: 1087cd5bb0afe8becb7b6366b6263f1f0616852907a7a292b41a99e5671b68d8f6c1864535afa98d8f86c2760b738f327199ed98bf7fe217930cd039be97d3c1


# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  s3_bucket_name: <%= ENV["S3_BUCKET"] %>
  aws_access_key_id: <%= ENV["S3_ACCESS_ID"] %>
  aws_secret_access_key: <%= ENV["S3_ACCESS_KEY"] %>
